.cards {
  margin: 50px auto 0;
  max-width: 880px;
  min-height: calc(100vh - 480px);
}
@media screen and (max-width: 321px) {
  .cards {
      margin-top: 36px;
      max-width: 320px;
      min-height: calc(100vh - 560px);
      padding: 0 19px;
  }
}
